@use './scss/variables' as *;

:root {
	font-family: $font-family, sans-serif;
 	font-weight: 700;
  	background-color: $light-theme-color;
  	scroll-behavior: smooth;

	color-scheme: light dark;
	color: $primary-font-color;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: inherit;
	cursor: pointer;
}

body {
	padding: 0;
	margin: 0;
	place-items: stretch;
	height: 100%;
	min-width: 320px;
	min-height: 100vh;
}

li {
	list-style-type: none;
}
