$font-family: 'ArturitoSlab';

$light-theme-color: #F7F7F7;
$dark-theme-color: #252525;

$primary-font-color: #252525;
$secondary-font-color: #F7F7F7;

$accent-color: #6C63FF;
$accent-color-2: #E50000;